*{
    padding: 0;

}
body{
    background-color: white;
}
.imagenicone{
    margin-top: 3px;
    width: 345px;
    height: 260px;
    right: 0;
    margin-left: 2px;
}
/* Area menu */
.nav{
    background-color: #be2371;
    margin-left: 335px;
    width: 950px;
    height: 200px;
    padding: 10px;
    margin-top: -250px;
    border-top-left-radius: 150px;
    
}
.ulNav{
    margin-left: 70px;
    display: flex;
    margin-right: -50px;
    font-size: 25px;
}
.liNav{
    list-style: none;
    margin-top: 130px;
}
.linkNavHeader{
    text-decoration: none;
    margin-right: 50px;
    color: black;
    font-family: "Limelight",sans-serif;
}
.linkNavHeader:hover{
    color: rgb(245, 120, 207);
}
/* Imagens header*/
.iconeInstagram{
    width: 60px;
    height: 60px;
    float: right;
    margin-top: -190px;
    margin-right: 50px;
}
.iconeFacebook{
    width: 62px;
    height: 62px;
    float: right;
    margin-top: -188px;
    margin-right: 120px;
}
/* galeria section */
.galeria{
    margin-left: 350px;
    margin-bottom: 90px;
    width: 700px;
    height: 530px;
    margin-top: 20px;
    position: relative;
    overflow: hidden;
}
.foto{
    position: absolute;
    opacity: 0;
    animation-name: animacao;
    animation-duration: 40s;
    animation-iteration-count: infinite;
    
}
@keyframes animacao{

    5%{
        opacity: 1;
        transform:scale(1.1,1.1);
    }
    30%{
        opacity: 0;
    }
}
.foto:nth-child(1){
    animation-delay: -3s
}
.foto:nth-child(2){
    animation-delay: 2s
}
.foto:nth-child(3){
    animation-delay: 10s;
}
.foto:nth-child(4){
    animation-delay: 18s;
 
}
.foto:nth-child(5){
    animation-delay: 26s;
 
}
/* Textos Portifólios */
.textoPortifolio{
    margin-bottom: -630px;
    margin-top: 190px;
    font-size: 25px;
    margin-left: 20px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.textoPortifolioDiv{
    color: #be2371;
    writing-mode: vertical-lr;
}

/* area artigo portifolio */
.secaoPort{
    background-color: white;
    width: 100%;
    height: 500px;
}
.textoPort{
    background-color: black;
    height: 350px;
    margin-bottom: 5px;
}
.fotoPort{
    margin-top: -800px;
    height: 350px;
    margin-bottom: 19px;
    margin-left: 200px;
}
.textoPort1{
    background-color: black;
    height: 370px;
    margin-top: -150px;
}
.fotoPort1{
    height: 350px;
    margin-top:-700px;
    margin-left: 200px;
    margin-bottom: 34px;
}
.paragrafo{
    color: rgb(94, 91, 91);
    margin-top: -30px;
    position: absolute;
    margin-left: 200px;
}
.linkParagrafoPort{
    text-decoration: none;
    color: rgb(94, 91, 91);
}
.paragrafo1{
    color: rgb(187, 181, 181);
    position: absolute;
    margin-top: -30px;
    right: 0;
    margin-right: 230px;

}
.paragrafo2{
    color: rgb(187, 181, 181);
    position: absolute;
    margin-top: 350px;
    margin-left: 205px;
}
.paragrafo3{
    position: absolute;
    margin-top: 350px;
    margin-top: 350px;
    right: 0;
    margin-right: 370px;
}
/* Area Main*/

.paragrafoMain{
    margin-right: 200px;
    font-size: 25px;
    color: rgb(94, 91, 91);
    margin-left: 40px;
}
.fotoMain{
    margin-bottom: 400px auto;
    float: left;
    margin-left: 10px;
    margin-right: 20px;
}

/* Area footer */
.footer{
    background-color: #be2371;
    width: 100%;
    height: 400px;
    bottom: 0;
    margin-top: 100px;
}
.rodape{
    padding: 5px;
    text-align: center;
    margin-top: 20px;
}
.textofooter{
    margin-top: 50px;
    color: black;
}
.linkfooter{
    text-decoration: none;
    color: black;
}
.fotoMegafone{
    margin-bottom: -150px;
}
/* contato footer*/
.rodape2{
    padding: 8px;
    text-align: right;
}
.textofooter2{
    margin-top:-185px;
    color: black;
    padding: 3px;
    margin-right: 10px;
}
.textoContato{
    padding: 4px;
    margin-right: 10px;
}
#linha-vertical{
    height: 200px;
    border-right: 1px solid red;
    margin-right: 780px;
    margin-top: -300px;
}
.linha-vertical2{
    height: 200px;
    border-right: 1px solid red;
    margin-top: -205px;
}
/* saber das novidades footer */
legend{
    margin-left: 150px;
    margin-top: -215px;
}
.input{
    border-radius: 50px 50px 50px 50px;
    border: solid 2px black;
    height: 40px;
}
.contato{
    margin-left: 40px;
}
.label{
    margin-left: 20px;
}
.labelNome{
    margin-left: 25px;
}
.labelTelefone{
    margin-left: 10px;
}
.enviar{
    margin-left: 125px;
    border-radius: 50px 50px 50px 50px;
    width: 50px;
}
/* Pagina quemSomos 
*/

/* header quemSomos / Serviços*/
/* Area menu */
.nav2{
    background-color: #be2371;
    margin-left: 380px;
    width: 940px;
    height: 230px;
    padding: 10px;
    margin-top: -275px;
    border-top-left-radius: 150px;
    margin-right: 0px;
    
}
.ulNav2{
    margin-left: 70px;
    display: flex;
    margin-right: -50px;
    font-size: 25px;
}
.liNav2{
    list-style: none;
    margin-top: 145px;
    font-size: 29px;
}
.linkNavHeader2{
    text-decoration: none;
    margin-right: 50px;
    color: black;
    font-family: "Limelight",sans-serif;
}
.linkNavHeader2:hover{
    color: rgb(245, 120, 207);
}
/* Imagens header*/
.iconeInstagram2{
    width: 60px;
    height: 60px;
    float: right;
    margin-top: -190px;
}
.iconeFacebook2{
    width: 62px;
    height: 62px;
    float: right;
    margin-top: -188px;
    margin-right: 80px;
}
/* Footer quemSomos / Servoços */
#linha-vertical3{
    height: 200px;
    border-right: 1px solid red;
    margin-right: 870px;
    margin-top: -300px;
}
.linha-vertical2{
    height: 200px;
    border-right: 1px solid red;
    margin-right: 470px;
    margin-top: -205px;
}
